### Домашняя работа

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

- Необходимо запустить практическую часть занятия, и посмотреть самому то, о чём говорили на лекции.
- По образу практики, попробуйте создать искусственный датасет с лишними столбцами.

Создаем датасет по предоставленным кредитам

age_client - возраст клиента

count_month_credit - количество месяцев рассрочки

sum_month_credit - ежемесячный платеж

Целевой показатель:

sum_product - первоначальная стоимость продукта переданного в кредит

In [2]:
n_samples = 1000

age_client = np.random.choice(80, n_samples) + 18
count_month_credit = np.random.choice(19, n_samples) + 6
sum_month_credit = np.random.choice(500, n_samples) + 100

sum_product = count_month_credit * sum_month_credit * 0.85 - 300

data = pd.DataFrame({'age_client': age_client, 'count_month_credit': count_month_credit, 'sum_month_credit': sum_month_credit, 'sum_product': sum_product})
data

     age_client  count_month_credit  sum_month_credit  sum_product
0            79                  11               163      1224.05
1            95                  10               437      3414.50
2            65                  16               179      2134.40
3            80                  17               381      5205.45
4            90                  23               365      6835.75
..          ...                 ...               ...          ...
995          56                  10               437      3414.50
996          87                  13               522      5468.10
997          41                  13               108       893.40
998          59                  23               361      6757.55
999          31                  16               528      6880.80

[1000 rows x 4 columns]

In [3]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age_client,1000.0,58.2500,23.139251,18.0,38.000,59.000,79.000,97.00
count_month_credit,1000.0,15.0040,5.304349,6.0,11.000,15.000,19.000,24.00
sum_month_credit,1000.0,347.8840,140.998124,100.0,227.000,348.500,462.000,599.00
sum_product,1000.0,4136.8929,2462.626672,250.8,2197.725,3577.275,5743.075,11332.25

- Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.

- Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown. Здесь важно видеть ваш ход мысли.

- Не бойтесь ошибиться или написать не то. Данное задание не имеет какого-то "правильного" решения. Цель - достичь базового понимания проблемы.

- Чем больше вы фантазируете, тем лучше :) Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных. Успеха!

In [4]:
from sklearn.metrics import mean_absolute_error

X = data[['age_client', 'count_month_credit', 'sum_month_credit']]
y = data['sum_product']
# линейная регрессия. fit обучение модели
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_client', 'count_month_credit', 'sum_month_credit']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [2.97618874e-02 2.92416514e+02 1.27841667e+01]
Bias: -4699.665144954923
Error: 466.0220756939335

In [5]:
print('Медиана: ', y.median())
print('Процент ошибки к медиане: ', mean_absolute_error(pred_values, y)/y.median()*100, '%')

Медиана:  3577.2749999999996
Процент ошибки к медиане:  13.027292441703073 %

Вероятность ошибки 13% - это много. Возраст клиента хоть и не значительно, но влияет на расчет

Уберем показатель возраста клиента

In [6]:
X = data[['count_month_credit', 'sum_month_credit']]
y = data['sum_product']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['count_month_credit', 'sum_month_credit']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [292.41808717  12.78414908]
Bias: -4697.948997516165
Error: 466.0038176437533

In [7]:
print('Медиана: ', y.median())
print('Процент ошибки к медиане: ', mean_absolute_error(pred_values, y)/y.median()*100, '%')

Медиана:  3577.2749999999996
Процент ошибки к медиане:  13.026782051806284 %

Вероятность ошибки 13% - почти не изменилась.

Так как целевой показатель состоит из произведения двух показателей и доп.действий, создадим единый параметр

Создаем новые признаки "Полная стоимость кредита"

In [8]:
# Создаем новый признак
data['all_sum_credit'] = data['count_month_credit'] * data['sum_month_credit']
data.head(5)

,age_client,count_month_credit,sum_month_credit,sum_product,all_sum_credit
0,79,11,163,1224.05,1793
1,95,10,437,3414.50,4370
2,65,16,179,2134.40,2864
3,80,17,381,5205.45,6477
4,90,23,365,6835.75,8395

In [9]:
X = data[['all_sum_credit']]
y = data['sum_product']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['all_sum_credit']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.85]
Bias: -299.9999999999991
Error: 9.240466170012951e-13

Теперь вероятность ошибки очень маленькая. Можно дальше анализировать